<div>
    <mat-form-field>
        <input matInput placeholder="Tiulo" [(ngModel)]="libro.autor">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Autor" [(ngModel)]="libro.titulo">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Codigo" [(ngModel)]="libro.codigo" max="15" maxlength="15" type="number">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Imagen" [(ngModel)]="libro.fotoUrl">
    </mat-form-field>
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 200px;">
        <img mat-card-image [src]="libro.fotoUrl" alt="" width="50%" height="100%" *ngIf="libro.fotoUrl != null">
    </div>
    
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cerrar()">Cancelar</button>